* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    overflow: hidden; 
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
}

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.childDiv {
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.childDiv h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.childDiv p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.childDiv input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    outline: none;
    width: 100%; 
    max-width: 300px; 
}

.childDiv button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #4CAF50;
    color: white;
}

.childDiv button:hover {
    cursor: pointer;
    background-color: #45a049; 
}

.childDiv #hints {
    margin-top: 1rem;
    font-weight: bold;
    color: green;
}

.childDiv .attempts {
    margin-top: 1rem;
}

.childDiv #attempts {
    font-weight: bold;
    color: red;
}

@media (max-width: 600px) {
    .childDiv h1 {
        font-size: 1.25rem;
    }

    .childDiv p {
        font-size: 0.9rem;
    }

    .childDiv button {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}
