body{
    background: linear-gradient(to top, #fc4a1a, #f7b733);
    background-repeat: no-repeat;
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    width: 50%;
    height: 80%;
    background-color: #fff;
    border-radius: 30px;
}

.head h1,.head h4{
    text-align: center;
}

.head{
    margin-bottom: 20px;
}

.stdName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
    font-size: 1.3em;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.lName{
    margin-top: 65px;
}

.grey{
    color: grey;
}

.second{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
    font-size: 1.3em;
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.gender{
    margin-left: 20px;
    margin-top: -63px;
}

.email{
    margin-left: 65px;
}

.third{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
    font-size: 1.3em;
}

.stdId{
    margin-left: -50px;
}

.btn{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
}
button{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    cursor: pointer;
}
